{
  "trailingComma": "es5",
  "semi": false,
  "singleQuote": true,
  "svelteSortOrder": "markup-scripts-styles-options",
  "svelteStrictMode": true,
  "svelteBracketNewLine": false,
  "svelteAllowShorthand": false,
  "svelteIndentScriptAndStyle": false,
  "tabWidth": 4,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": true
}
